# Backend
PORT=4000
DATABASE_URL="postgresql://postgres:password@localhost:5433/summarizer?schema=public"
REDIS_URL="redis://localhost:6379"

# Frontend
CORS_ORIGIN="http://localhost:5173"

VITE_API_URL="http://localhost:4000"
VITE_TRANSCRIPTION_URL="http://localhost:5000"

# Transcription Node
TRANSCRIPTION_PORT=5000

# LLM
LLM_API_KEY=your_api_key_here
